asgiref==3.2.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
Django==3.0.2
django-grappelli==2.14.2
django-tables2==2.3.1
django-tempus-dominus==5.1.2.13
django-weasyprint==1.0.2
docutils==0.16
gunicorn==20.0.4
packaging==20.4
Pillow==8.0.0
pipenv==2020.11.4
plotly==4.9.0
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2019.3
pywinpty==0.5.7
pyzmail==1.0.3
pyzmq==19.0.2
six==1.15.0
urllib3==1.25.11
virtualenv==20.1.0
virtualenv-clone==0.5.4
whitenoise==5.2.0
